<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Student Of Class</title>

<th:block th:insert="~{/templates/head::link}"></th:block>
<th:block th:insert="~{/templates/head::script}"></th:block>
<style type="text/css">
	.btn {
		width: 80px;
    	height: 36px;
    	margin-bottom: 10px;
}
</style>
</head>

<!-- <script type="text/javascript">
	function doDelete(id) {
		if (confirm("are you sure to delete Class with ID=" + id)) {
			window.location = "admin/deleteClass?idClass=" + id;
		}
	}
</script> -->

<body>

	<div th:replace="~{/templates/menu::menu}"></div>

	<div class="container-fluid"
		style="margin: 0px; padding: 0px; max-width: 100%;">
		<nav class="navbar navbar-light bg-light"
			style="width: 100%; padding: 7px 0px 7px 20px;">
			<div class="container-fluid">
				<div style="display: flex;">
					<a class="navbar-brand">List Student Of Class</a> <a
						th:href="@{/admin/add-student-of-class/{id}(id=${idClass})}"> <img alt="img add"
						src="https://cdn-icons-png.flaticon.com/128/720/720307.png"
						style="width: 35px; height: 35px; margin-top: 5px"></a>
				</div>
				<form th:action="@{/admin/searchClass}" method="GET" class="d-flex">
					<input class="form-control me-2" name="fullname"
						placeholder="search by name" style="width: 300px" />
					<button class="btn btn-outline-success" type="submit" style="margin: 0px">Search</button>
				</form>
			</div>
		</nav>

		<div class="badge bg-primary text-wrap"
			style="width: 6rem; margin: 10px 0px 10px 25px">Count:</div>
		<div class="contentx">
			<table class="table table-striped table-bordered">
				<thead class="table-dark">
					<tr>
						<th style="width: 10%">ID</th>
						<th style="width: 25%">Full name</th>
						<th style="width: 25%">Email</th>
						<th style="width: 25%">Major</th>
						<th style="width: 25%">ACTION</th>
					</tr>
				</thead>
				<tbody>
					 <tr th:each="c: ${listStudent}">
						<td th:text="${c.ID}"></td>
						<td th:text="${c.fullname}" data-bs-toggle="modal"
							th:attr="data-bs-target='#detailsModal'+${c.ID}"></td>
						<td th:text="${c.email}"></td>
						<td th:text="${c.major}"></td>
						<td>
						<!-- <a  th:href="@{/admin/updateClass/{id}(id=${c.id})}"
							class="btn btn-success">Update </a>  -->
						<a th:onclick="|doDelete('${c.ID}')|" class="btn btn-danger">Delete</a>
						<a th:href="@{/admin/list-student-of-class/{id}(id=${c.ID})}"
							class="btn btn-success">View</a> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="~{/templates/footer::#footer}"></div>
</body>
</html>

