<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Class Teaching</title>
<th:block th:insert="~{/templates/head::link}">
</th:block>
<th:block th:insert="~{/templates/head::script}">
</th:block>
</head>
<body>
	<div th:replace="~{/templates/menu::menu}"></div>
	<!-- <form>
		<section class="vh-100" style="background-color: #fbfbfb;">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center"
					style="padding-top: 50px;">
					<div class="col-xl-7">
						<h3 class="mb-4" style="color: #150ECC" >Add class teaching</h3>
						<div class="card" style="border-radius: 15px;">
							<div class="card-body">
								<div class="row align-items-center pt-4 pb-3">
									<div class="col-md-3 ps-5">
										<h6 class="mb-0">ID_Teacher</h6>
									</div>
									<div class="col-md-9 pe-5">
										<input class="form-control form-control-lg" />
									</div>
								</div>
								<hr class="mx-n3">
								<div class="row align-items-center py-3">
									<div class="col-md-3 ps-5">
										<h6 class="mb-0">ID_Classroom</h6>
									</div>
									<div class="col-md-9 pe-5">
										<input class="form-control form-control-lg" />
									</div>
								</div>
								<hr class="mx-n3">
								<div class="row align-items-center py-3">
									<div class="col-md-3 ps-5">
										<h6 class="mb-0">Date</h6>
									</div>
									<div class="col-md-9 pe-5">
										<input class="form-control form-control-lg" />
									</div>
								</div>
								<hr class="mx-n3">
								<div class="row align-items-center py-3">
									<div class="col-md-3 ps-5">
										<h6 class="mb-0">Time</h6>
									</div>
									<div class="col-md-9 pe-5">
										<input class="form-control form-control-lg" />
									</div>
								</div>

								<hr class="mx-n3">
								<div class="text-center">
									<button type="submit" class="btn btn-success"
										style="width: 200px; height: 40px; margin: 20px;">SAVE</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form> -->
	<!-- <div class="container mt-4">
        <h1>Class List</h1>

        <ul class="list-group">
            <li th:each="c : ${classList}" 
                class="list-group-item d-flex justify-content-between align-items-center">
                <a th:href="@{'/class-details?id=' + ${c.id}}" th:text="${c.name}"></a>
                <span class="badge badge-primary badge-pill">View Details</span>
            </li>
        </ul>
        
        <ul class="list-group">
           <li class="list-group-item d-flex justify-content-between align-items-center">
               <a>Toan</a>
            </li>
        </ul>
    </div> -->

	<div class="container mt-4">
		<h1>Class List</h1>
		<form th:action="@{/admin/addClassTeacher/{id}(id=${idTeacher})}" method="post">
			<input id="selectedClasses" type="hidden" name="selectedClasses" />
			<ul class="list-group">
				<li th:each="c : ${listClass}" class="form-check"><input
					type="checkbox" class="form-check-input"
					th:value="${c.name}" /> <label class="form-check-label"
					th:text="${c.name}"></label></li>
			</ul>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div th:replace="~{/templates/footer::#footer}"></div>
</body>

<script>
	console.log(1);
	var form = document.querySelector('form');
	  var selectedClasses = []; 
	  
	  form.addEventListener('submit', function(event) {
		  event.preventDefault(); 
		  
		  
	    var checkboxes = form.querySelectorAll('input[type=checkbox]');
	    for (var i = 0; i < checkboxes.length; i++) {
	      if (checkboxes[i].checked) {
	        selectedClasses.push(checkboxes[i].value);
	      }
	    }

	    if (selectedClasses.length === 0) {
	      
	      return false;
	    }

	    for (var k = 0; k < selectedClasses.length; k++) {
	      var newInput = document.createElement('input');
	      newInput.type = 'hidden';
	      newInput.name = 'selectedClasses';
	      newInput.value = selectedClasses[k];
	      form.appendChild(newInput);
	    }
	    console.log(selectedClasses);
	    
	    form.submit();
	  });
</script>
</html>